/* 全体 */
body {
	background-color: rgb(192, 192, 192); /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer {
	background-color: #45496a; /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
}
/* ヘッダー内見出し */
header h1 {
	text-align: left;
	font-size: 20pt;
	margin: 40px 0 40px 30px;
}
/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}
/* メイン */
main {
	background-color: rgb(192, 192, 192);
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid #7d8bae;
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
}
/* 表見出しセル */
table th {
	background: #7d8bae;
	color: #ffffff;
}
/* 送信ボタン */
button {
	margin: 2px;
	padding: 1em 0;
	background-color: #666666;
	color: #ffffff;
	border: none;
	width:30%;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}


/*ログイン画面*/
h2{
	margin: 30px 0 0;
	font-size: 1.3em;
	font-weight: bold;
}

.login_box{
	background-color: #ffffff;
	border:2px solid ;
	height: 350px;
	width: 30%;
	margin: 30px auto 0;	
	position: relative;
}

/*エラーメッサージ*/
.login_form span{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}

.login_form input{
	display: block;
	margin:100px auto 0;
	text-align: left;
	border: 1px solid;
	width: 50%;
	padding: 1em;
}

.login_form button{
	margin-top: 30px;
}