<table>
	<tr>
		<th class="cart_no">NO</th>
		<th class="cart_item">商品名</th>
		<th class="cart_price">値段</th>
		<th class="cart_count">個数</th>
		<th class="cart_subtotal">小計</th>
		<th></th>
	</tr>
	<tr th:each="item:${@cart.items}">
		<td class="cart_no" th:text="${item.id}"></td>
		<td class="cart_item" th:text="${item.name}" style="text-align: left; padding:0 1em;"></td>
		<td class="cart_price" th:text="${item.price}"></td>
		<td class="cart_count" th:text="${item.quantity}"></td>
		<td class="cart_subtotal" th:text="${item.price * item.quantity}"></td>
		<td>
			<form class="item_form" action="/cart/delete" method="post">
				<input type="hidden" name="itemId" th:value="${item.id}">
				<button class="item_button">削除</button>
			</form>
		</td>
	</tr>
	<tr>
		<td align="right" colspan="6" th:text="'総計：'+${@cart.totalPrice} + '円'" style="padding:0 1em; text-align: right;"></td>
	</tr>
</table>