<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" type="text/css" href="/reset.css">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<nav>
		<div nav_category>
		<a href="/items">全商品</a>
		<!-- th:each="c:${categories}"はThymeleafの繰り返し処理を行う属性 -->
		<!-- @{/items(categoryId=${c.id})}は、/itemsというURLを生成 -->
		<a th:each="c:${categories}" th:href="@{/items(categoryId=${c.id})}">
			<span th:text="${c.name}"></span>
		</a>
		</div>
		<a class="nav_cart" href="/cart">カートを見る</a>
	</nav>
	<main>
		<table>
			<tr>
				<th class="item_no">NO</th>
				<th class="item_name">商品名</th>
				<th class="item_price">値段</th>
				<th></th>
			</tr>
			<!--コントローラーでmodel.addAttribute("items", itemList);を定義しているため、
				${items}で呼び出せる。その前についているitemは${items}をitemという変数に格納する-->
			<tr th:each="item:${items}">
				<td class="item_no" th:text="${item.id}"></td>
				<td class="item_name" th:text="${item.name}" style="text-align: left; padding:0 1em;"></td>
				<td class="item_price" th:text="${item.price}"></td>
				<td>
					<form class="item_form" action="/cart/add" method="post">
						<input type="hidden" name="itemId" th:value="${item.id}">
						<button class="item_button">カートに追加</button>
					</form>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>