<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/reset.css">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header>
		<h1>サンプルショッピング</h1>
	</header>
	<main>
		<h2>login</h2>
		<div class="login_box">
		<form class="login_form" action="/login" method="post">
			<span th:text="${message}" style="color: red"></span>
			<input type="text" name="name" placeholder="名前">
			<button>ログイン</button>
		</form>
		</div>
	</main>
</body>
</html>