<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
<link rel="stylesheet" type="text/css" href="/reset.css">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<div>
		<div class="cart_text">
		<p>ご注文商品</p>
		</div>
		<span th:replace="cartItem"></span>
		<hr>
		<div class="cart_text">
		<p>お客様情報</p>
		</div>
		<form action="/order" method="post">
			<table class="customer_table">
				<tr>
					<th>お名前</th>
					<td class="customer_information" th:text="${customer.name}"></td>
				</tr>
				<tr>
					<th>住所</th>
					<td class="customer_information" th:text="${customer.address}"></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td class="customer_information" th:text="${customer.tel}"></td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td class="customer_information" th:text="${customer.email}"></td>
				</tr>
			</table>
			<input type="hidden" name="name" th:value="${customer.name}">
			<input type="hidden" name="address" th:value="${customer.address}">
			<input type="hidden" name="tel" th:value="${customer.tel}">
			<input type="hidden" name="email" th:value="${customer.email}">
			<button class="button">この内容で注文</button>
		</form>
	</main>
</body>
</html>